*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}
.contanier{
  max-width: 1000px;
  margin: auto;
}
header{
  background-color: #48c5ce;
  text-align: center;
  color: white;
  padding: 10px;
 
}
.title{
  font-size: 26px;
}
section{
 padding: 20px;
 background-image: url(../imgs/people.jpg);
 background-size: cover;
 overflow: hidden;
}
.formcontanier{
  max-width: 230px;
  background-color: #ffffffbb;
  padding: 20px;
  float:right;
}

h2{
  font-size: 16px;
}
.mb{
  margin-bottom: 15px;
}
input, select{
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: none;
  margin-bottom: 10px;

}
input[type="submit"]{
  color: white;
  background-color: #48c5ce;
  font-weight: bold;
}
select{
  -moz-appearance: none;
  -webkit-appearance:none ;
  appearance: none;
  background-image: url(../imgs/arrow.jpg);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

footer{
  background-color: #202120;
  padding: 40px;
  text-align: center;
}
.picture{
  width: 160px;
}

.descripton{
  display: inline-block;
  color: white;
  max-width: 40%;
  margin-left: 40px;
  text-align: left;
}
.descripton p , .descripton h3{
  margin-bottom: 20px;
}
.descripton h3{
  font-size: 24px;
}
@media(max-width: 600px){
  .formcontanier{
    max-width: 100%;
  }
}